@model IEnumerable<Errs.WebUi.Features.Home.ErrorsResponse>
@{
    ViewBag.Title = "Serilog Demo";
    ViewBag.SubTitle = "A lap with Structured Logging";
}

<div class="row">
    <div class="large-8 columns">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Template</th>
                    <th>Exceptions</th>
                    <th>Level</th>
                    <th>Properties</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var error in Model)
                {
                    <tr>
                        <td>@error.Message</td>
                        <td>@error.MessageTemplate</td>
                        <td>@error.Exception</td>
                        <td>@error.Level</td>
                        <td>@error.Properties</td>
                        <td>@error.TimeStamp</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="text-primary text-center">cause footers rock!</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<br />
<br />
<br />
<br />