@model Errs.WebUi.Features.Shared.ErrorInfo

@if (Model != null && Model.Exception != null)
{
    @ExceptionFormat(Model.Exception)
}

@helper ExceptionFormat(Exception ex)
{
    var accordianId = Guid.NewGuid();
    var panelId = Guid.NewGuid();

    <div class="panel-group" id="@accordianId">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#@accordianId" href="#@panelId">
                    <strong>@ex.Message</strong>
                </a>
            </div>
            <div id="@panelId" class="panel-collapse collapse in">
                <div class="panel-body">
                    <small>@ex.StackTrace</small>
                    @if (ex.InnerException != null)
                    {
                        @ExceptionFormat(ex.InnerException)
                    }
                </div>
            </div>
        </div>
    </div>
}
